@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #f5f7fb;
}

.mat-mdc-card { border-radius: 12px !important; }

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #bbb; border-radius: 3px; }
